// BEGIN SLIDING PANEL navBar
$action-color: $kerrAccent;
$dark-gray: #333 !default;
$sliding-panel-border-color: darken($kerrGreen,10%);
$sliding-panel-background: rgba($kerrGreen, 0.9);
$sliding-panel-color: darken($kerrGreen, 5%);
$sliding-panel-border: 1px solid $sliding-panel-border-color;
$sliding-panel-background-hover: rgba($kerrGold,0.15);
$sliding-panel-color-hover: rgba($kerrGold,0.15);
$sliding-panel-background-focus: rgba($sliding-panel-background, 0.25);



.sliding-panel-content {
  @include position(fixed, 0 auto 0 0);
  @include size(em(220px) 100%);
  background: $sliding-panel-background;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
  transform: translateX(em(-220px));
  transition: all 0.25s linear;
  z-index: 999999;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }

  li a {
    border-bottom: $sliding-panel-border;
    color: $white;
    display: block;
    font-weight: bold;
    padding: 1em;
    text-decoration: none;

    &:focus {
      background-color: $sliding-panel-background-focus;
    }

    &:hover {
      background-color: $sliding-panel-background-hover;
      color: $kerrAccent;
    }
  }

  &.is-visible {
    transform: translateX(0);
  }
  svg {
    width: 2.5em;
  }
}

.sliding-panel-fade-screen {
  @include position(fixed, 0);
  background: black;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  visibility: hidden;
  z-index: 999998;

  &.is-visible {
    opacity: 0.4;
    visibility: visible;
  }
}

.sliding-panel-button {
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding: 10px 16px;
  position: relative;

  img {
    height: 1.3em;
  }
}


header {
  @include filter(drop-shadow(3px 0px 4px tint($black,5%)));
  background: $kerrGreen;
  width: 100vw;
  height: 8.5vh;
  margin:0;
  padding: 0em .5em;
  position: fixed;
  top:0;
  left:0;
  z-index: 1000;
}
.navBar {
  width: 100%;
  height: 8.5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}
.navBar .logo {
  width: 81%;
  height: 100%;
  align-self: center;
  margin-top: 2em;
  #logo {
    width: 3em;
    height: 3em;
    margin-right: .5em;
  }
  #logoWord {
    width: 16em;
  }
  a {
    margin:0;
    padding:0;
    svg {
      @include filter(drop-shadow(3px 1px 1px darken($kerrGreen,5%)));
      height: 3em;
      margin: 0;
      padding:0;
    }
  }
}
