
// font-family: prelo slab medium and bold
@font-face {
  font-family: 'PreloSlabMedium';
  src: url('fonts/preloslab-medium-webfont.eot');
  src: url('fonts/preloslab-medium-webfont.eot?#iefix')
    format('embedded-opentype'),
    url('fonts/preloslab-medium-webfont.woff') format('woff'),
    url('fonts/preloslab-medium-webfont.ttf') format('truetype'),
    url('fonts/preloslab-medium-webfont.svg#PreloSlabMedium')
    format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PreloSlabBold';
  src: url('fonts/preloslab-bold-webfont.eot');
  src: url('fonts/preloslab-bold-webfont.eot?#iefix')
    format('embedded-opentype'), url('fonts/preloslab-bold-webfont.woff')
    format('woff'), url('fonts/preloslab-bold-webfont.ttf')
    format('truetype'),
    url('fonts/preloslab-bold-webfont.svg#PreloSlabBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
// font-family: kulturista bold
@font-face {
    font-family: 'kulturista';
    src: url('../fonts/kulturista_bold-webfont.eot');
    src: url('../fonts/kulturista_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kulturista_bold-webfont.woff2') format('woff2'),
         url('../fonts/kulturista_bold-webfont.woff') format('woff'),
         url('../fonts/kulturista_bold-webfont.ttf') format('truetype'),
         url('../fonts/kulturista_bold-webfont.svg#kulturistabold') format('svg');
    font-weight: 600;
    font-style: normal;
}
// font-family: kulturista Semibold
@font-face {
    font-family: 'kulturista';
    src: url('../fonts/kulturista_semibold-webfont.eot');
    src: url('../fonts/kulturista_semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kulturista_semibold-webfont.woff2') format('woff2'),
         url('../fonts/kulturista_semibold-webfont.woff') format('woff'),
         url('../fonts/kulturista_semibold-webfont.ttf') format('truetype'),
         url('../fonts/kulturista_semibold-webfont.svg#kulturistasemibold') format('svg');
    font-weight: 500;
    font-style: normal;
}
// Officina

@font-face {
    font-family: 'ITCOfficinaSerifStdBookRg';
    src: url('../fonts/officinaserifstd-book-webfont.eot');
    src: url('../fonts/officinaserifstd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/officinaserifstd-book-webfont.woff') format('woff'),
         url('../fonts/officinaserifstd-book-webfont.ttf') format('truetype'),
         url('../fonts/officinaserifstd-book-webfont.svg#ITCOfficinaSerifStdBookRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ITCOfficinaSansStdBookRg';
    src: url('../fonts/officinasansstd-book-webfont.eot');
    src: url('../fonts/officinasansstd-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/officinasansstd-book-webfont.woff') format('woff'),
         url('../fonts/officinasansstd-book-webfont.ttf') format('truetype'),
         url('../fonts/officinasansstd-book-webfont.svg#ITCOfficinaSansStdBookRg') format('svg');
    font-weight: normal;
    font-style: normal;
}
b {
  font-family: 'ITCOfficinaSerifStdBookRg', $georgia, serif;
  font-size: $base__font-size;
  line-height: $base__line;
}
p {
  font-family: 'ITCOfficinaSansStdBookRg', $georgia, serif;
  font-weight: normal;
  font-size: 1em;
  line-height: (2 * 1.333);
}
h1 {
  font-family: 'kulturista', $georgia, serif;
  font-weight: 600;
  font-size: 3em;
  line-height: (3 * 1.333);
  color: $kerrGreen;
}
.preloSlab {
  font-family: 'PreloSlabMedium', $georgia, serif;
  font-size: 1em;
  line-height: 1.5;
  color: $kerrGreen;
}

//begin header

.dropdown-button {
  font-family: 'ITCOfficinaSansStdBookRg', $georgia, serif;
  font-weight: normal;
  font-size: 1.25em;
  color: $white;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-transform: uppercase;
  line-height: $dropdown-height;
  letter-spacing: .05em;
}
.dropdown-menu {
  font-family: 'ITCOfficinaSansStdBookRg', $georgia, serif;
  font-weight: normal;
  font-size: 1.25em;
  color: $white;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  text-transform:capitalize;
  line-height: $dropdown-height;
}





// **** BEGIN Footer

footer h6 {
  font-family: 'ITCOfficinaSerifStdBookRg', $georgia, serif;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.5;
  color: $kerrGreen;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
