//global config
* {
  box-sizing: border-box;
}
body {
  counter-reset: ol;
  background-color: $kerrGreen;
}
h1 h2 h3 h4 h5 h6 {
  margin:0;
  padding:0;
  text-align: center;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}


// Color Palette Modifiers

$palettes: (
  $kerrGold: (
    xx-light : lighten($kerrGold, 43%),
    x-light  : lighten($kerrGold, 35%),
    light    : lighten($kerrGold, 12%),
    base     : $grey,
    dark     : darken($kerrGold, 8%),
    x-dark   : darken($kerrGold, 16%)
  ),
	$kerrGreen : (
		light    : lighten($kerrGreen, 10%),
		base     : $black,
		dark     : darken($kerrGreen, 10%)
	)
);
