@import url("https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Handlee|Fira+Sans+Extra+Condensed:200,200i,300,300i,400,400i,500,500i,600,600i,700i,900");



//Resets

* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}



// colors

$white              : #fff;
$black              : #000;
$grey               : #333;
$lightGrey          : #525252;

$red                : #ED1C24;
$orange             : #F39200;
$blue               : #113245;
$cream              : #CEBAA7;
$gold               : #DD9630;
$yellow             : #FAD75A;

$color-lightYellow  : #F2DD98;
$color-lightBlue    : #19D8F2;

$color-judgeRed     : #B5066E;
$color-empressRed   : #D4145A;
$color-empressOrange: #D79139;
$color-chariotOrange: #F7931E;
$color-strongOrange : #FBB03B;
$color-hermitGreen  : #3AAA61;
$color-magicPurple  : #8A44C0;
$color-sunPurple    : #B5066E;
$color-heiroPink    : #E516C1;
$color-loversPink   : #C0639B;
$color-starPink     : #DB289E;
$color-magicGreen   : #7CC444;
$color-hermitGreen  : #3AAA61;
$color-priestessBlue: #80B1A1;
$color-chariotBlue  : #A8E2C0;
$color-wildSand     : #f6f6f6;
$color-whiteSmoke   : #f4f4f4;
$color-discoPurple  : #005689;



body {
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	font-weight: 100;
	color: $lightGrey;
}
.container {
	width:100vw;
	height:100vh;
	margin: 2vw 10vw 2vw 5vw;
}
p {
	padding: 2em .5em;
	line-height: 2;
}

a {
  text-decoration: none;
	:hover {
		color: $color-discoPurple;
		font-weight: 700;
	}
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 1.2;
}

h1 {
  font-family: 'Amatic SC';
  font-size: 4em;
  font-weight: 700;
  line-height: 1.5;
  color: $color-discoPurple;
}

h2, h3, h4, h5, h6 {
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	font-weight: 200;
}

h2 {
  font-size: 1.5em;
	font-style: italic;
	margin-bottom: 2em;
}
h3 {
	font-size: 2em;
	font-weight: 600;
	color: $color-heiroPink;
	line-height: 2;
}
h6 {
	font-size: 1em;
	line-height: 2;
	color: $lightGrey;
	line-height: 2;
}
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	font-size: 1.5em;
	line-height: 3.5em;
}
img {
	margin-bottom: -.5em;
	margin-right: .35em;
}
.time {
  color: $color-discoPurple;
  font-family: 'Handlee', cursive;
  font-size: 1em;
	padding-left: .5em;
}
.comment {
  color: darken($color-discoPurple, 10%);
	font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: .45em;
	font-style: italic;
	font-weight: 100;
}

.details {
	button {
		border: 0px solid $color-wildSand;
		background-color: transparentize($white, 1);
  	font-family: 'Amatic SC';
		color: $color-discoPurple;
		font-size: .8em;
		font-weight: 700;
		&:hover {
			color: $color-starPink;
		}
	}
}
.edit {
	button {
		border: .5px solid $color-discoPurple;
		background: $color-discoPurple;
  	font-family: 'Amatic SC';
		color: $white;
		font-size: .8em;
		font-weight: 700;
		height: 1.25em;
		padding: 0 .15em;
		margin:.5em;
	}
}
.done {
	button {
		border: .5px solid $color-discoPurple;
		background: $color-discoPurple;
  	font-family: 'Amatic SC';
		color: $white;
		font-size: 1.5em;
		font-weight: 700;
		height: 1.5em;
		padding: 0 .15em;
		margin:.5em;
	}
}

.newForm {
	background: $color-wildSand;
	width: 90%;
	padding-left: 2em;
	h3 {
		font-family: 'Amatic SC';
		font-size: 2em;
		font-weight: 700;
		line-height: 1.5;
		color: $color-discoPurple;
		}
	div {
		margin-top: 1em;
		width:100%;
	}
	input {
		width: 90%;
		height: 3em;
		font-family: 'Amatic SC';
		font-size: 1.5em;
		color: $color-discoPurple;
		padding: 0 1em;
		font-weight: 700;
		overflow-x: scroll;
	}
	label {
		width: 90%;
		height: 2em;
		margin-bottom: .2em;
		text-transform: uppercase;
		font-weight: 300;
		padding-right: 3em;
	}
	a {
	  text-decoration: none;
		font-weight: 500;
		color: $color-discoPurple;
		&:hover {
			color: lighten($color-discoPurple, 50%);
			font-weight: 700;
			letter-spacing: .02em;
		}
	}
}
.large {
		font-size: 2em;
		margin-bottom: 2em;
}
.small {
	font-size: .75em;
}
.right {
	float: right;
	padding-right: 20vw;
	margin-top: .3em;
	font-size: .75em;
	button {
		color: $color-starPink;
		&:hover {
			color: $color-discoPurple;
			text-decoration: underline;
			margin:0;
		}
	}
}

.listDetail {
	background: $color-wildSand;
	width: 90%;
	padding-left: 1em;
	margin-top: 2em;
	h6 {
		font-size: 1.5em;
		font-weight: 300;
	}
	button {
		padding: 0 .5em;
		margin:.5em 0 1em 0;
	}
}
.mainList {
	font-size: 1.25em;
}
